<h5 class="card-header font-weight-bold">Course Detail</h5>
<div id = "page" class="card-body">
  <div id="page-content" class="card"> 
    <div class="pull-xs-left"><div class="page-context-header"><div class="page-header-headings"><h1>CSC 0645-01 Computer Networks Spring 2019</h1></div></div></div>
    <div class="clearfix w-100 pull-xs-left" id="page-navbar">
        <div class="breadcrumb-nav">
            <nav role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">My Courses</a></li>
                    <li class="breadcrumb-item"><a href="" title="CSC 0645-01 Computer Networks Spring 2019">CSC064501-S19R</a></li>
                </ol>
            </nav>
        </div>
        <div class="course-content" id="yui_3_17_2_1_1556155986807_105">
            <ul class="ilearn" id="yui_3_17_2_1_1556155986807_104">
                <li id="section-1" class="section main clearfix">
                    <div class="content"><h3 class="sectionname"><a href="">Syllabus</a></h3>
                        <ul class="section img-text">
                            <li class="activity resource modtype_resource " id="module-441558">
                                <div><div class="mod-indent-outer"><div class="mod-indent"></div>
                                <div>
                                    <div class="activityinstance">
                                        <a class="" onclick="" href=""><img src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/core/1550063239/f/document-24" class="iconlarge activityicon" alt=" " role="presentation"><span class="instancename">Syllabus<span class="accesshide "> File</span></span></a>
                                    </div>
                                </div>
                                </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="section-1" class="section main clearfix">
                    <div class="content"><h3 class="sectionname"><a href="">Lecture Notes</a></h3>
                        <ul class="section img-text">
                            <li class="activity resource modtype_resource " id="module-441558">
                                <div><div class="mod-indent-outer"><div class="mod-indent"></div>
                                <div>
                                    <div class="activityinstance"><a class="" onclick="" href=""><img src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/core/1550063239/f/powerpoint-24" class="iconlarge activityicon" alt=" " role="presentation"><span class="instancename">Chapter 1<span class="accesshide "> File</span></span></a></div>
                                </div>
                                </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="section-1" class="section main clearfix">
                    <div class="content"><h3 class="sectionname"><a href="">Home Works</a></h3>
                        <ul class="section img-text">
                            <li class="activity resource modtype_resource " id="module-441558">
                                <div><div class="mod-indent-outer"><div class="mod-indent"></div>
                                <div>
                                    <div class="activityinstance"><a class="" onclick="" href=""><img src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/core/1550063239/f/document-24" class="iconlarge activityicon" alt=" " role="presentation"><span class="instancename">HW #1<span class="accesshide "> File</span></span></a></div>
                                </div>
                                </div>
                                </div>
                            </li>
                            <li class="activity resource modtype_resource " id="module-456409">
                                <div><div class="mod-indent-outer"><div class="mod-indent"></div>
                                    <div>
                                        <div class="activityinstance"><a class="" onclick="" href=""><img src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/turnitintooltwo/1550063239/icon" class="iconlarge activityicon" alt=" " role="presentation"><span class="instancename">HW #1<span class="accesshide "> Turnitin Assignment</span></span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="section-1" class="section main clearfix">
                    <div class="content"><h3 class="sectionname"><a href="">Project</a></h3>
                        <ul class="section img-text">
                            <li class="activity resource modtype_resource " id="module-441558">
                                <div><div class="mod-indent-outer"><div class="mod-indent"></div>
                                <div>
                                    <div class="activityinstance"><a class="" onclick="" href=""><img src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/assign/1550063239/icon" class="iconlarge activityicon" alt=" " role="presentation"><span class="instancename">Project 1<span class="accesshide "> Assignment</span></span></a></div>
                                </div>
                                </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>


