
    <div id="nav-drawer" data-region="drawer" class="hidden-print moodle-has-zindex closed" aria-hidden="true" tabindex="-1">
        <nav class="list-group">
            <a class="list-group-item list-group-item-action font-weight-bold" href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019" data-key="coursehome" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="60" data-nodetype="0" data-collapse="0" data-forceopen="1" data-isactive="1" data-hidden="0" data-preceedwithhr="0">
                <div class="m-l-0">
                        CSC064501-S19R
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/user/index.php?id=17019" data-key="participants" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="90" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        Participants
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/grade/report/index.php?id=17019" data-key="grades" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="70" data-nodetype="0" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        Grades
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-0" data-key="97094" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Section 0</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-1" data-key="159697" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Syllabus</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-2" data-key="159698" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Lecture Notes</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-3" data-key="159699" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Home Works</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-4" data-key="159700" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Projects</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-5" data-key="159701" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Exams</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-6" data-key="159702" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Useful Docs</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-7" data-key="159703" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Section 7</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-8" data-key="159704" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Section 8</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-9" data-key="159705" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Section 9</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-10" data-key="159706" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Section 10</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-11" data-key="159707" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Section 11</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-12" data-key="159708" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Section 12</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-13" data-key="159709" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Section 13</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-14" data-key="159710" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Section 14</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-15" data-key="159711" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Section 15</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-16" data-key="159712" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Section 16</span>
                        </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/course/view.php?id=17019#section-17" data-key="159713" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="30" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="17019">
                <div class="m-l-0">
                        <div class="media">
                            <span class="media-left">
                                <i class="icon fa fa-folder fa-fw " aria-hidden="true" aria-label=""></i>
                            </span>
                            <span class="media-body">Section 17</span>
                        </div>
                </div>
            </a>
        </nav>
        <nav class="list-group m-t-1">
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/blocks/course_list_tabbed/index.php?id=17019" data-key="home" data-isexpandable="0" data-indent="0" data-showdivider="1" data-type="1" data-nodetype="1" data-collapse="0" data-forceopen="1" data-isactive="0" data-hidden="0" data-preceedwithhr="0">
                <div class="m-l-0">
                        My Courses
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://ilearn.sfsu.edu/ay1819/calendar/view.php?view=month&amp;course=17019" data-key="calendar" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="60" data-nodetype="0" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="1">
                <div class="m-l-0">
                        Calendar
                </div>
            </a>
        </nav>
    </div>
