
<div class="card">
	<h5 class="card-header font-weight-bold">CSC 0668-01 Advanced Object Oriented Software Design and Development Spring 2019</h5>
	<div id="page-content" class="card-body">
		<div id="region-main-box" class="col-xs-12">
			<section id="region-main">
				<div class="card card-block">
					<span class="notifications" id="user-notifications"></span><div class="course-content-header"></div>
					<div role="main"><span id="maincontent"></span><h2>Reflection 1/28-2/4</h2>
						<div id="intro" class="box generalbox boxaligncenter p-y-1"></div>
						<div class="submissionstatustable"><h3>Submission status</h3>
							<div class="box boxaligncenter submissionsummarytable p-y-1">
								<table class="generaltable">
								<tbody>
									<tr class="">
										<td class="cell c0" style="">Attempt number</td>
										<td class="cell c1 lastcol" style="">This is attempt 1.</td>
									</tr>
									<tr class="">
										<td class="cell c0" style="">Submission status</td>
										<td class="submissionstatussubmitted cell c1 lastcol" style="">Submitted for grading</td>
									</tr>
									<tr class="">
										<td class="cell c0" style="">Grading status</td>
										<td class="submissionnotgraded cell c1 lastcol" style="">Not graded</td>
									</tr>
									<tr class="">
										<td class="cell c0" style="">Due date</td>
										<td class="cell c1 lastcol" style="">Monday, February 4, 2019, 7:00 PM</td>
									</tr>
									<tr class="">
										<td class="cell c0" style="">Time remaining</td>
										<td class="earlysubmission cell c1 lastcol" style="">Assignment was submitted 9 mins 59 secs early</td>
									</tr>
									<tr class="">
										<td class="cell c0" style="">Last modified</td>
										<td class="cell c1 lastcol" style="">Monday, February 4, 2019, 6:50 PM</td>
									</tr>
									<tr class="">
										<td class="cell c0" style="">File submissions</td>
										<td class="cell c1 lastcol" style="">
											<img class="icon icon" alt="Izaac Garcilazo Reflection 128-24.pdf" title="Izaac Garcilazo Reflection 128-24.pdf" src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/core/1550063239/f/pdf"> <a target="_blank" href="">Izaac Garcilazo Reflection 128-24.pdf</a></td>
									</tr>
									<tr class="">
										<td class="cell c0" style="">Submission comments</td>
										<td class="cell c1 lastcol" style="">
											<textarea name="content" rows="5" id="submissions-content-5cb8b47d020ef" cols="40" style="color: grey;">
											</textarea>
											<div class="fd" id="comment-action-5cb8b47d020ef"><a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
											</div>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
