<h5 class="card-header font-weight-bold">Grades</h5>
<div id = "page" class="card-body">
  <div id="page-content" class="card"> 
    <table cellspacing="0" cellpadding="0" class="boxaligncenter generaltable user-grade">
      <thead>
        <tr>
          <th id="itemname" class="header column-itemname">Grade item</th>
          <th id="grade" class="header column-grade">Grade</th>
          <th id="range" class="header column-range">Range</th>
          <th id="percentage" class="header column-percentage">Percentage</th>
          <th id="weight" class="header column-weight">Calculated weight</th>
          <th id="contributiontocoursetotal" class="header column-contributiontocoursetotal">Contribution to course total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th id="row_100135_225416" class="level1 levelodd oddd1 baggb column-itemname" colspan="1"><span class="gradeitemheader" title="Course total" tabindex="0"><img class="icon icon itemicon" alt="Natural" title="Natural" src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/core/1550063239/i/agg_sum">Course total</span></th>
          <td class="level1 levelodd oddd1 baggb itemcenter  column-grade">299.25 (A)</td>
          <td class="level1 levelodd oddd1 baggb itemcenter  column-range">0.00–300.00</td>
          <td class="level1 levelodd oddd1 baggb itemcenter  column-percentage">99.75 %</td>
          <td class="level1 levelodd oddd1 baggb itemcenter  column-weight">-</td>
          <td class="level1 levelodd oddd1 baggb itemcenter  column-contributiontocoursetotal">-</td>
        </tr>
        <tr>
          <th id="row_113304_225416" class="level2 leveleven item b1b column-itemname" colspan="1"><a title="Link to Turnitin Assignment activity HW #1" class="gradeitemheader" href=""><img class="icon itemicon" src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/turnitintooltwo/1550063239/icon" alt="Turnitin Assignment">HW #1</a></th>
          <td class="level2 leveleven item b1b itemcenter  column-grade">99.00 (A)</td>
          <td class="level2 leveleven item b1b itemcenter  column-range">0.00–100.00</td>
          <td class="level2 leveleven item b1b itemcenter  column-percentage">99.00 %</td>
          <td class="level2 leveleven item b1b itemcenter  column-weight">25.00 %</td>
          <td class="level2 leveleven item b1b itemcenter  column-contributiontocoursetotal">24.75 %</td>
        </tr>
        <tr>
          <th id="row_114660_225416" class="level2 leveleven item b1b column-itemname" colspan="1"><a title="Link to Assignment activity Project 1" class="gradeitemheader" href=""><img class="icon itemicon" src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/assign/1550063239/icon" alt="Assignment">Project 1</a></th>
          <td class="level2 leveleven item b1b itemcenter  column-grade">100.00 (A)</td>
          <td class="level2 leveleven item b1b itemcenter  column-range">0.00–100.00</td>
          <td class="level2 leveleven item b1b itemcenter  column-percentage">100.00 %</td>
          <td class="level2 leveleven item b1b itemcenter  column-weight">50.00 %</td>
          <td class="level2 leveleven item b1b itemcenter  column-contributiontocoursetotal">50.00 %</td>
        </tr>
        <tr>
          <th id="row_119438_225416" class="level2 leveleven item b1b column-itemname" colspan="1"><a title="Link to Turnitin Assignment activity HW#2" class="gradeitemheader" href=""><img class="icon itemicon" src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/turnitintooltwo/1550063239/icon" alt="Turnitin Assignment">HW#2</a></th>
          <td class="level2 leveleven item b1b itemcenter  column-grade">100.00 (A)</td>
          <td class="level2 leveleven item b1b itemcenter  column-range">0.00–100.00</td>
          <td class="level2 leveleven item b1b itemcenter  column-percentage">100.00 %</td>
          <td class="level2 leveleven item b1b itemcenter  column-weight">25.00 %</td>
          <td class="level2 leveleven item b1b itemcenter  column-contributiontocoursetotal">25.00 %</td>
        </tr>
        <tr>
          <th id="row_128092_225416" class="level2 leveleven item b1b column-itemname" colspan="1"><a title="Link to Quiz activity Midterm" class="gradeitemheader" href=""><img class="icon itemicon" src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/quiz/1550063239/icon" alt="Quiz">Midterm</a></th>
          <td class="level2 leveleven item b1b itemcenter  column-grade">-</td>
          <td class="level2 leveleven item b1b itemcenter  column-range">0.00–100.00</td>
          <td class="level2 leveleven item b1b itemcenter  column-percentage">-</td>
          <td class="level2 leveleven item b1b itemcenter  column-weight">-<br>( Empty )</td>
          <td class="level2 leveleven item b1b itemcenter  column-contributiontocoursetotal">-</td>
        </tr>
        <tr>
          <th id="row_129190_225416" class="level2 leveleven item b1b column-itemname" colspan="1"><a title="Link to Assignment activity Project 2" class="gradeitemheader" href=""><img class="icon itemicon" src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/assign/1550063239/icon" alt="Assignment">Project 2</a></th>
          <td class="level2 leveleven item b1b itemcenter  column-grade">-</td>
          <td class="level2 leveleven item b1b itemcenter  column-range">0.00–100.00</td>
          <td class="level2 leveleven item b1b itemcenter  column-percentage">-</td>
          <td class="level2 leveleven item b1b itemcenter  column-weight">-<br>( Empty )</td>
          <td class="level2 leveleven item b1b itemcenter  column-contributiontocoursetotal">-</td>
        </tr>
        <tr>
          <th id="row_129188_225416" class="level2 leveleven item b1b column-itemname" colspan="1"><a title="Link to Quiz activity Final Exam" class="gradeitemheader" href=""><img class="icon itemicon" src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/quiz/1550063239/icon" alt="Quiz">Final Exam</a></th>
          <td class="level2 leveleven item b1b itemcenter  column-grade">-</td>
          <td class="level2 leveleven item b1b itemcenter  column-range">0.00–100.00</td>
          <td class="level2 leveleven item b1b itemcenter  column-percentage">-</td>
          <td class="level2 leveleven item b1b itemcenter  column-weight">-<br>( Empty )</td>
          <td class="level2 leveleven item b1b itemcenter  column-contributiontocoursetotal">-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

