
<div class="col col-12">
<div class="card">
   <h5 class="card-header font-weight-bold">jLearn Help</h5>
						
	 <div class="card-body">
      <ul class="list-unstyled">
		<li>
		 	<a href=""><i class="ilearn-i fa fa-envelope"></i> Email jLearn Support</a>
		</li>
						          
		<li>
			<a href=""><i class="ilearn-i fa fa-phone-square"></i> Contact Information</a>
		</li>
  
		<li>
			<a href=""><i class="ilearn-i fa fa-info-circle"></i> jLearn Info</a>
		</li>
	  </ul>
    </div>
</div>
</div>