<nav class="main-nav navbar navbar-expand-lg padding-xl">
  <a class="navbar-brand text-white font-weight-bold" href="/home"><span class="ilearn-i">i</span> Learn Clone</a>

<div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Student's Name
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          
          <a class="dropdown-item" href="#">
            <i class="fa fa-sign-out"></i> LOGOUT
          </a>

          <a class="dropdown-item" href="#">
            <i class="fa fa-user"></i> VIEW PROFILE
          </a>
          
          <a class="dropdown-item" href="#">
            <i class="fa fa-cogs"></i> EDIT PROFILE
          </a>

        </div>
      </li>
   
    </ul>
</div>
</nav>

