.primary-color-bg{
 background-color: #25125b;
}

.primary-color-text{
  color: #4f4370;
}

.main-nav{
 background-image:linear-gradient(to right, #4f346b ,#2b2044 ,#2b3b7c);
}

.ilearn-i{
 color:#69b4e0;
}

.text-ilearn{
 color:#261f4c;
}