<div class="card card-block">					
   <h2>Reflection 1/28-2/4</h2>
   <br><br>
   <h3>Submission status</h3>	

   <table class="table table-striped">
 
     <tbody>
       <tr>       
       	<td>Submission status</td>
       	<td>not submitted</td>
       </tr>

       <tr>
         <td>Grading status</td>
         <td>Not graded</td>
       </tr>

       <tr>
         <td>Due date</td>
  		 <td>Monday, February 4, 2019, 7:00 PM</td>
       </tr> 

       <tr>
         <td>Last Modified</td>
  		 <td>Monday, February 4, 2019, 7:00 PM</td>
       </tr>     


       <tr>
         <td>Files submitted</td>
  		 <td>empty</td>
       </tr>    

     </tbody>
    </table>

    <form>
  		

  		<div class="form-group">
    	  <label for="exampleFormControlTextarea1">Submission comments: </label>
    	  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
 		</div>

 		 <button type="submit" class="btn btn-primary">save comment</button> 		  
 		 <br><br>

 		<div class="form-group">
  		  <label for="assignmentSubmission">File Submission</label>
  		  <input type="file" class="btn form-control-file" id="assignmentSubmission">
  		</div>

	</form>					
</div>
		
		