<div class="card">
   <h5 class="card-header font-weight-bold"><%= title %></h5>
    <div class="breadcrumb-nav">
        <nav role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">My Courses</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" title="course-name"><%= course %></a>
                </li>
            </ol>
        </nav>
    </div>
</div>