<div class="card"> 
    <ul>
        <div class="content">
            <h3 class="sectionname">
                <a href="#">Syllabus</a>
            </h3>

            <ul class="section img-text">
                 <li >
                   
                    <a class="" onclick="" href="">
                        <img src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/core/1550063239/f/document-24" class="iconlarge activityicon" alt=" " role="presentation">

                        <span class="instancename"> Syllabus </span> 
                        <span> File </span>
                    </a>
                                             
                </li>
            </ul>
            
        </div>
    </ul>
</div>




 