<div class="card-body"> 
<table class="table table-responsive table-striped">
  
  <thead>
   <tr>
     <th id="itemname" class="header column-itemname">Student Name</th>
     <th id="itemname" class="header column-grade">Homework</th>
     <th id="itemname" class="header column-range">Submission File</th>
     <th id="itemname" class="header column-percentage">Grade</th>
     <th id="itemname" class="header column-weight">Comments</th>
   </tr>
 </thead>


 <tbody>
   <tr>
          <td class="column-student">student 1</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <span>
              <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a>  
              <a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
            </span>
          </td>
  </tr>
 </tbody>

</table>
</div>