<h5 class="card-header font-weight-bold">Professor Gradebook</h5>
<div id = "page" class="card-body">
  <div id="page-content" class="card"> 
    <table cellspacing="0" cellpadding="0" class="boxaligncenter generaltable user-grade">
      <thead>
        <tr>
          <th id="itemname" class="header column-itemname">Student Name</th>
          <th id="itemname" class="header column-grade">Homework</th>
          <th id="itemname" class="header column-range">Submission File</th>
          <th id="itemname" class="header column-percentage">Grade</th>
          <th id="itemname" class="header column-weight">Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="column-student">student 1</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
        <tr>
          <td class="column-student">student 2</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
                <tr>
          <td class="column-student">student 3</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
        <tr>
          <td class="column-student">student 4</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
                <tr>
          <td class="column-student">student 5</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
        <tr>
          <td class="column-student">student 6</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
                <tr>
          <td class="column-student">student 7</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
        <tr>
          <td class="column-student">student 1</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
                <tr>
          <td class="column-student">student 1</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
        <tr>
          <td class="column-student">student 1</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
                <tr>
          <td class="column-student">student 8</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
        <tr>
          <td class="column-student">student 9</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
                <tr>
          <td class="column-student">student 10</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
        <tr>
          <td class="column-student">student 11</th>
          <td class="column-file">homework 1</td>
          <td class="column-grade">filename</td>
          <td class="column-percentage">80%</td>
          <td class="cell c1 lastcol" style="">
            <textarea name="content" rows="1" id="submissions-content-5cb8b47d020ef" cols="25" style="color: grey;">
            </textarea> 
            <a id="comment-action-post-5cb8b47d020ef" href="#">Save comment</a><span> | </span><a id="comment-action-cancel-5cb8b47d020ef" href="#">Cancel</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

