 <tr>
   <th colspan="1">
   	 <a title="Link to Turnitin Assignment activity HW#2" class="gradeitemheader" href="">
   	  <img class="icon itemicon" src="https://ilearn.sfsu.edu/ay1819/theme/image.php/ilearn34/turnitintooltwo/1550063239/icon" alt="Turnitin Assignment">HW#2
     </a>
   </th>
   <td>100.00 (A)</td>
   <td>0.00–100.00</td>
   <td>100.00 %</td>
   <td>25.00 %</td>
   <td>25.00 %</td>
</tr>