<!DOCTYPE html>
<html lang="en">
	<head>
	   <% include ../partials/bootstrap-head %>	    

	   <link rel="stylesheet" href="./stylesheets/theme.css"/>
	</head>

	<body>
		<div class="row">
			<div class="col col-12">
			 <% include ../partials/main-nav%>
			</div>	
		</div>
		
	   
		<div class="row mb-3 mt-3">
			  <div class="col-sm-2 col-lg-1 col-xs-12">			
			  </div>
  
			  <div class="col-sm-7 col-lg-8 col-xs-12">
			  	<% include ../partials/assignment%>			  	
			  </div>
  
			  <div class="col-sm-3 col-lg-3 col-xs-12">

				<div class="col col-12">
				  <% include ../partials/ilearn-support-card%>				
				</div>	
				
			  </div>
		   </div>

	</body>
</html>