<!DOCTYPE html>
<html lang="en">
	<head>		
	   <% include ../partials/bootstrap-head %>
	</head>
	<body class="">
<!-- Pseudo Header -->
		<div class="row" >
					<div class="col col-12">
					 <% include ../partials/main-nav%>
					</div>	
				</div>
				<div class="row m-3" id="height-staging">
						<div class="col-lg-3 col-sm-3 col-xs-12">
							<div class="card">
								<div class="card-header">
									Your assignments
								</div>
								<div class="list-group">
									<a class="list-group-item list-group-item-action" href="#">Grades</a>
									<a class="list-group-item list-group-item-action" href="#">Calendar</a>
									<a class="list-group-item list-group-item-action" href="#">Course Block 1 - Syllabus</a>
								</div>
								<a class="list-group-item list-group-item-action" href="#">Course Block 2 - Syllabus </a>
							</div>
						</div>
<!-- Start of Center Content -->
<div id="height-staging" class="col-md-9">
		<div class="row">
			<div class="col-md-3">
				<!-- List of Person is messaging -->
				<% for(var i =0; i < chats.length; i++) { %>
					<a href="" class="inbox-user-card-link">
							<div class="inbox-user-card">
								<h6 class="inbox-user-name"><%= chats[i][0] %></h6>
								<!-- <span>1/1/19</span> -->
								<p class="inbox-preview"><% chats[i][1][(chats[i][1].length -1)][1] %></p>
							</div>
						</a>
					<% } %>


			</div>
			<div class="col-md-9">
				<div id="message-inbox">
					<% for(var i =0; i < chats[0][1].length; i++) { %>
						<% if(chats[0][1][i][0]) { %>
							<!-- From User -->
							<div class=" row incomming-messege messege padding-top">
									<p class="message"><%= chats[0][1][i][1] %></p>
								</div>
							<% } else { %>
								<!-- To User -->
								<div class="row outgoing-messege messege padding-top">
										<p class="message"><%= chats[0][1][i][1] %></p>
									</div>
								<% } %>
					<% } %>
					<!-- Close messege Inbox -->
				</div>
				<div id="text-input" class="row">
					<form class="row col-md-9">
							<div class="form-check-inline col-md-9">
									<input id="text-input-field" type="text" name="Messege" placeholder="Send a Message!" class="form-control" autocomplete="off">
									<input type="submit" value="Submit" class="btn btn-success">
							</div>

					</form>
					<!-- Close text-input -->
				</div>
				<!-- Close col-md-9 -->
			</div>
			<!-- Close Row -->
		</div>
		<!-- Close Col md-6 -->
	</div>


	<!-- <div class="col-lg-3 col-sm-12 col-xs-12">
			<% include ../partials/ilearn-support-card%>
		</div> -->
	</div>
</div>
	</body>
</html>

<!-- This is obviosly bad practice and only used as a staging area for CSS for this page-->
<style>
	/* #text-input-field{
		
	} */
	/* #height-staging{
		max-height: 500px;
	
	} */
	.inbox-user-name, .inbox-preview{
		padding-left: 5px;
		padding-right: 5px;

	}
	.inbox-user-card-link:hover{
		text-decoration: none;
	}
	.inbox-user-card-link:active{
		text-decoration: none;
		background-color: lightgray;
	}
	.inbox-user-card{
		border: Solid 1px grey;
		border-radius: 3px;
		padding-bottom: 5px;
		margin-bottom: 3px;
	}
	#message-inbox{
		/* height: calc(100% - 100px); */
		display: block;
		/* overflow: scroll; */
	}
	#text-input{
		position: fixed;
		bottom: 0;
		float: bottom;
		background-color:white;
		width: 100%;
	}
	#input-box{
		width: 500px;
	}
	.incomming-messege{
		background-color: lightgrey;

	}
	.outgoing-messege>p.messege {
		float: right;
	}
	.outgoing-messege{
		float: right;
		text-align: right;
		background-color:lightblue; 
	}
	.top-spacing-5{
		margin-top: 5px;
		padding-top: 5px;
	}
	.form-check-inline{
		padding: 15px;

	}
	.messege {
		width: 80%;
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px;
		margin-top: 5px;
	}
</style>
<script>

	window.addEventListener('DOMContentLoaded', (event) => {
		console.log(window.innerWidth);
	});
</script>