<!DOCTYPE html>
<html lang="en">
	<head>		
	   <% include ../partials/bootstrap-head %>
	   <link rel="stylesheet" href="./stylesheets/inbox.css" />
	</head>
	<body id="body">
<!-- Pseudo Header -->
<% var test = JSON.stringify(inputChats); %>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
		// var socket = io(); 
		var getTest = <%- test  %>;  //var test is now assigned to getTest which will only work on browsers
</script>
<script src="/javascripts/chatController.js"></script>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/inbox.js"></script>
<!-- <script src="/javascripts/chatSocket.js"></script> -->
		<div class="row" >
					<div class="col col-12">
					 <% include ../partials/main-nav%>
					</div>	
				</div>
<!-- Start of Center Content -->
<div id="height-staging" class="col-md-12">
		<div class="row">
			<div class="col-md-3" id="chats">
				<!-- List of Person is messaging -->
				<!-- Insert 0 -->
			</div>
			<div class="col-md-9" id="messeges">
				<!-- Insert 1 -->
				<!-- Close col-md-9 -->
			</div>
			<!-- Close Row -->
		</div>
		<div class="row">
				<div class="col-md-3" >
					</div>
					<div class="col-md-3" >
						
				<div id="text-input" class="row">
						<form class="row col-md-9" id="myForm" onsubmit="return false;">
								<div class="form-check-inline col-md-9">
										<input id="text-input-field" type="text" name="Messege" placeholder="Send a Message!" class="form-control" autocomplete="off">
										<input type="submit" value="Submit" class="btn btn-success">
								</div>
						</form>
						<!-- Close text-input -->
				</div>
			</div>
		</div>
	</div>

	</div>
</div>
	</body>
</html>