<!DOCTYPE html>
<html lang="en">
	<head>
	   <script language="javascript" src="js/bootstrap.min.js"></script>
	   <link rel="stylesheet" href="css/bootstrap.min.css"/>	   	     
	   <link rel="stylesheet" href="css/bootstrap.min.css"/>

	   <link rel="stylesheet" href="./stylesheets/login-box.css"/>
	   <link rel="stylesheet" href="./stylesheets/home-page.css"/>
	   <link rel="stylesheet" href="./stylesheets/theme.css"/>
	</head>

	<body class="container w-50">
		<login-box>
   		  <% include ../partials/login-box%>
		<login-box>		
	</body>
</html>