<!DOCTYPE html>
<html lang="en">
	<head>		
	   <% include ../partials/bootstrap-head %>
	   	      	       
	   <link rel="stylesheet" href="./stylesheets/login-box.css"/>
	   <link rel="stylesheet" href="./stylesheets/home-page.css"/>
	   <link rel="stylesheet" href="./stylesheets/theme.css"/>
	</head>

	<body class="container">
		<login-box>
   		  <% include ../partials/login-box %>
		<login-box>		
			
	</body>
</html>