<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/bootstrap-head %>
</head>

<body>
	<div class="row">
		<div class="col col-12">
				<% include ../partials/main-nav%>
		</div>
	</div>


	<div class="row m-3">
		<div class="col-lg-3 col-sm-3 col-xs-12">
			<div class="card">
				<div class="card-header">
					Your assignments
				</div>


				<div class="list-group">
					<a class="list-group-item list-group-item-action" href="#">Grades</a>
					<a class="list-group-item list-group-item-action" href="#">Calendar</a>
					<a class="list-group-item list-group-item-action" href="#">Course Block 1 - Syllabus</a>
				</div>

				<a class="list-group-item list-group-item-action" href="#">Course Block 2 - Syllabus </a>
			</div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="row"><h3>John Smith</h3></div>
                <div class="row">
                    <div class="col-md-6"><p>email@mail.sfsu.edu</p></div>
                    <div class="col-md-6"><p>Other Information</p></div>
                </div>


        </div>
    
		<div class="col-lg-3 col-sm-12 col-xs-12">
			<% include ../partials/ilearn-support-card%>
		</div>
	</div>
</body>
</html>