<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/bootstrap-head %>	    
</head>

<body>
	<div class="row">
		<div class="col col-12">
			<% include ../partials/main-nav%>
		</div>	
	</div>


	<div class="row mb-3 mt-3">
		<div class="col-sm-2 col-lg-1 col-xs-12">			
		</div>

		<div class="col-sm-7 col-lg-8 col-xs-12">

			<div class="card"> 
				<div class="card-header">
					<h3>User Profile</h3>
				</div>
				<div role="main" id="yui_3_17_2_1_1556508622089_50"><span id="maincontent"></span><h2></h2>
					<form autocomplete="off" action="" method="post" accept-charset="utf-8" id="mform1" class="mform">
						<fieldset class="clearfix collapsible" id="id_moodle">
							<div class="fcontainer clearfix" id="yui_3_17_2_1_1556508622089_383">
								<div id="fitem_ilearn32_id_firstname_id_firstname" class="form-group row  fitem  ">
									<div class="col-md-3">
										<label class="col-form-label d-inline " for="id_firstname">
											First name
										</label>
									</div>
									<div class="col-md-9 form-inline felement" data-fieldtype="text">
										<input type="text" class="form-control " name="firstname" readonly="" disabled="" id="id_firstname" value="Izaac" size="30" maxlength="100">
										<div class="form-control-feedback" id="id_error_firstname" style="display: none;">
										</div>
									</div>
								</div>
								<div id="fitem_ilearn32_id_lastname_id_lastname" class="form-group row  fitem  ">
									<div class="col-md-3">
										<span class="pull-xs-right text-nowrap">
										</span>
										<label class="col-form-label d-inline " for="id_lastname">
											Last name
										</label>
									</div>
									<div class="col-md-9 form-inline felement" data-fieldtype="text">
										<input type="text" class="form-control " name="lastname" readonly="" disabled="" id="id_lastname" value="Garcilazo" size="30" maxlength="100">
										<div class="form-control-feedback" id="id_error_lastname" style="display: none;">
										</div>
									</div>
								</div>
								<div id="fitem_ilearn32_id_email_id_email" class="form-group row  fitem  ">
									<div class="col-md-3">
										<span class="pull-xs-right text-nowrap">
										</span>
										<label class="col-form-label d-inline " for="id_email">
											Email address
										</label>
									</div>
									<div class="col-md-9 form-inline felement" data-fieldtype="text">
										<input type="text" class="form-control " name="email" readonly="" disabled="" id="id_email" value="izaacg@mail.sfsu.edu" size="30" maxlength="100">
										<div class="form-control-feedback" id="id_error_email" style="display: none;">
										</div>
									</div>
								</div>
								<div id="fitem_ilearn32_id_email_id_email" class="form-group row  fitem  ">
									<div class="col-md-3">
										<span class="pull-xs-right text-nowrap">
										</span>
										<label class="col-form-label d-inline " for="id_email">
											Student Id
										</label>
									</div>
									<div class="col-md-9 form-inline felement" data-fieldtype="text">
										<input type="text" class="form-control " name="email" readonly="" disabled="" id="id_email" value="9000000001" size="30" maxlength="100">
										<div class="form-control-feedback" id="id_error_email" style="display: none;">
										</div>
									</div>
								</div>
							</div>
						</div>		 
					</div>

				</div>

				<div class="col-lg-3 col-sm-12 col-xs-12">				
					<% include ../partials/ilearn-support-card%>										
				</div>
			</div>
		</body>
		</html>